<h1>Listing stat_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Identifier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stat_types.each do |stat_type| %>
      <tr>
        <td><%= stat_type.name %></td>
        <td><%= stat_type.identifier %></td>
        <td><%= link_to 'Show', stat_type %></td>
        <td><%= link_to 'Edit', edit_stat_type_path(stat_type) %></td>
        <td><%= link_to 'Destroy', stat_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stat type', new_stat_type_path %>
