<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Available Jerseys:</strong>
  <%= @team.available_jerseys.join(", ") %>
</p>

<p>
  <strong>Taken Jerseys:</strong>
  <%= @team.taken_jerseys.join(", ") %>
</p>

<p>
  <strong>Roster:</strong>
  <table>
    <thead>
      <th></th>
      <th>Player Name</th>
      <th>Jersey</th>
      <% StatType.find_each do |stat_type| %>
        <th><%= stat_type.name %></th>
      <% end %>
    </thead>
    <tbody>
      <% @team.players.each_with_index do |player, index| %>
        <tr class="<%= index%2 == 0 ? "alt" : "" %>" >
          <td><%= link_to "Remove", remove_player_team_path(@team, player_id: player.id), method: :post, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to player.full_name, player_path(player) %></td>
          <td class="number">
            <% if @team.player_jersey(player).blank? %>
              <%= form_tag(add_jersey_to_player_team_path(@team), method: "post") do %>
                <%= hidden_field_tag(:player_id, player.id.to_s) %>
                <%= select_tag(:jersey, available_jersey_select(@team), include_blank: true, onchange: "this.form.submit()") %>
              <% end %>
            <% else %>
              <%= @team.player_jersey(player) %>
              <%= @team.player_jersey(player).blank? ? "" : link_to(fa_icon("times"), recover_jersey_from_player_team_path(@team, player_id: player.id), method: :post) %>
            <% end %>
          </td>
          <% StatType.find_each do |stat_type| %>
            <td class="centered">
              <%= link_to(fa_icon("minus"), decrement_player_stat_team_path(@team, player_id: player.id, stat_type_id: stat_type.id), method: :post) %>
              <%= display_number(@team.player_stat_value(stat_type, player)) %>
              <%= link_to fa_icon("plus"), increment_player_stat_team_path(@team, player_id: player.id, stat_type_id: stat_type.id), method: :post %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<p>
  <%= form_tag(add_player_team_path(@team), method: "post") do %>
    <%= select_tag(:player_id, options_from_collection_for_select(Player.where.not(id: @team.players.pluck(:id)), "id", "full_name"), prompt: "Add a Player") %>
    <%= select_tag(:jersey, available_jersey_select(@team), prompt: "Jersey") %>
    <%= submit_tag("Add Player") %>
  <% end %>
</p>

<p>
  <%= form_for(@player) do |f| %>
    <%= hidden_field_tag :team_id, @team.id %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <%= select_tag(:jersey, available_jersey_select(@team), prompt: "Jersey") %>
    <%= f.submit("Create and Add Player") %>
  <% end %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
