<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @player.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @player.last_name %>
</p>

<p>
  <strong>on Teams:</strong>
  <table>
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Jersey</th>
        <% StatType.find_each do |stat_type| %>
          <th><%= stat_type.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @teams_list.each do |team| %>
        <tr>
          <td>
            <% if team.empty_team? %>
              <strong><%= team.name %></strong>
            <% else %>
              <%= link_to team.name, team_path(team) %>
            <% end %>
          </td>
          <td class="number"><%= @player.team_jersey(team) %></td>
          <% StatType.find_each do |stat_type| %>
            <td class="centered"><%= display_number(@player.team_stat_value(stat_type, team)) %></td>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td><strong>Total:</strong></td>
        <% StatType.find_each do |stat_type| %>
          <td class="centered"><strong><%= display_number(@player.total_stat_value(stat_type)) %></strong></td>
        <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
